<%- include('../partials/base') %>

<h1>Flight Details</h1>
<section>
    <div><strong>Airline:</strong> <%=flight.airline %></div>
    <div><strong>Airport:</strong> <%=flight.airport %></div>
    <div><strong>Flight Number:</strong> <%=flight.flightNo %></div>
    <div><strong>Departure Date:</strong> <%=flight.departs %></div>
</section>
<form action="/flights/<%= flight._id %>/edit" method="GET">
    <button id="change" class="btn btn-secondary" type="submit">Change Flight Details</button>
</form>
<br />
<br>
<h2>Ticket Info</h2>

<% if(tickets.length) { %>
<% tickets.forEach(function(t) { %>
<br>
<div>Seat:
    <%= t.seat %></div>
<div>Price: $
    <%=t.price %>
</div>
<td>
    <form action="/tickets/<%= flight._id%>/<%= t._id%>?_method=DELETE" method='POST'>
        <button type="submit" class="btn btn-danger">X</button>
    </form>
</td>
<%}) %>
<%} %>
<a href="/flights/<%= flight._id %>/tickets/new/">Add Ticket</a>
<br><br>

<div>

    <br />
    <h2>Destinations</h2>
    <form action="/flights/<%= flight._id%>/destinations" method="POST">
        <label><strong>Destination Airport:</strong></label>
        <select name="airport" class="btn btn-secondary dropdown-toggle">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <br /><br />
        <label><strong>Arrival Time:</strong>
            <input type="datetime-local" name="arrival" class="btn btn-secondary dropdown-toggle" />
        </label>
        <br /><br />
        <input id="destination" class="btn btn-secondary" type="submit" value="Add Destination" />
    </form>

    <h2 class="arrival">Arrival Information</h2>
    <% if(flight.destinations.length) { %>
    <table>
        <thead>
            <th>Airport</th>
            <th>Arrival Date</th>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(f) { %>
            <tr>
                <td><%=f.airport %></td>
                <td><%=f.arrival %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <h5>No Destination Yet</h5>
    <% } %>
</div>
<%- include('../partials/footer') %>