<%- include('../partials/base') %>

<h1>Flight Details</h1>
<section>
  <div><strong>Airline:</strong> <%=flight.airline %></div>
  <div><strong>Airport:</strong> <%=flight.airport %></div>
  <div><strong>Flight Number:</strong> <%=flight.flightNo %></div>
  <div><strong>Departure Date:</strong> <%=flight.departs %></div>
</section>

<form action="/flights/<%= flight._id %>/edit" method="GET">
  <button type="submit">Change Flight Details</button>
</form>
<br /><br />
<form
  action="/flights/<%= flight._id %>/destinations"
  id="add-destination"
  method="POST"
>
  <label>
    <strong>Destination:</strong>
    <select name="destinations">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <br />
    <br />

    <label
      ><strong>Arrival Date:</strong>
      <input type="datetime-local" name="arrival" /> </label>
    <br>
      <input type="submit" value="Add Destination" >
</form>

<div>
  <h2>Arrival Info</h2>
  <% if(flight.destinations.length) { %>
  <% flight.destinations.forEach(function(f) { %>
  <br />

  <%=f.destAirport %> <%=f.arrival %> <% })}; %>
</div>
<%- include('../partials/footer') %>
