<%- include('../partials/base') %>

<form id='new-form' action="/flights/update/<%= flight._id %>" method="POST">

	<label>Airline:
	  <select name="airline" value="<%= flight.airline %>">
		<option value="<%= flight.airline %>"><%= flight.airline%></option>
	    <option value="United">United</option>
        <option value="Southwest">Southwest</option>
        <option value="American">American</option>
		</select>
	</label><br>
	<br>

	<label>Flight Number:
	  <input type="text" value="<%= flight.flightNo%>" name="flightNo">
	</label>
	<br>
	<br>



	<label>Departure date:</label>
	  <input type="datetime-local" value="<%= flight.departs %>" name="departs">
	
	<br>
	<br>
	<label> Departure airport:
<select name="airport">
	</label>
	<option value="<%= flight.airport %>"><%= flight.airport %></option>
    <option value="AUs">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <br>
  <br>
	
	<input type='submit' value='Update Flight'>
    
</form>



<%- include('../partials/footer') %>